*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container.blue{
    height: 100px;
    width: 100vw;
    background-color:  #00e6ac;
}

.container.red{
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: #e6e6e6;
}

.web-app{
    height: 700px;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/* Left container */
.left{
    width: 350px;
    height: 100%;
    float: left;
}

/* Profile */
.top-left{
    height: 80px;
    background-color:#ededed;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-left{
    width: 100px;
    display: flex;
    justify-content: center;
}

.image-left img{
    height: 70px;
    border-radius: 40px;

}

.icon-left{
    width: 130px;
    display: flex;
    justify-content: space-around;
}

/* Notiche */
.notifiche-left{
    height: 80px;
    background-color:#00ffff;
    border: 1px solid;
    display: flex;
    align-items:center;
}

.bell{
    width: 80px;
    display: flex;
    justify-content: center;
}

.bell i{
    font-size: 30px;
    border-radius: 35px;
    color:#00ffff;
    background-color: white;
    padding: 10px;
}

/* Search chat */
.search-left{
    height: 40px;
    background-color:#ededed;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-left input{
    height: 30px;
    width: 90%;
}

/* Chat list */
.bottom-left{
    height: calc(700px - 200px);
    background-color: white;
    border: 1px solid;
    overflow-y: auto;
}
.bottom-left small{
    font-size: 10px;
    color:grey;
}

.chat-1,
.chat-2,
.chat-3,
.chat-4,
.chat-5,
.chat-6,
.chat-7,
.chat-8,
.chat-9{
    display: flex;
    align-items:center;
}

.tchalla-image,
.superman-image,
.steve-image,
.peter-image,
.wonder-image,
.wolverine-image,
.punisher-image,
.thor-image,
.patriot-image{
    height: 80px;
    width: 90px;
    display: flex;
    justify-content: center;
}

.tchalla-image img,
.steve-image img,
.superman-image img,
.steve-image img,
.peter-image img,
.wonder-image img,
.wolverine-image img,
.punisher-image img,
.thor-image img,
.patriot-image img{
    height: 70px;
    border-radius: 30px;
    background-color: #ededed;
}

/* Right container */
.right{
    width: calc(1200px - 350px);
    height: 100%;
    float: left;
}

.top-right{
    height: 80px;
    background-color: #ededed;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-right{
    width: 130px;
    display: flex;
    justify-content: space-around;
}

/* Chat */
.center-right{
    height: calc(700px - 160px);
    background-image: url('https://i.pinimg.com/474x/30/8f/76/308f76f82f2bc38e7c8258165a206ed7.jpg');
    opacity: 0.5;
    border: 1px solid;
    overflow-y: auto;
}

/* "Scrivi un messaggio" */
.bottom-right{
    height: 80px;
    background-color: #c5a8ac;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-right input{
    height: 60px;
    width: 90%;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.bottom-right i,
.icon-right i,
.icon-left i{
    font-size: 25px;
    color: grey;
}
