*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after{
    content: "";
  clear: both;
  display: table;
}

.container.blue{
    height: 100px;
    width: 100vw;
    background-color:  #00e6ac;
}

.container.red{
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: #e6e6e6;
}

.web-app{
    height: 700px;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/* Left container */
.left{
    width: 350px;
    height: 100%;
    float: left;
}

/* Profile */
.top-left{
    height: 80px;
    background-color:#ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-left{
    width: 100px;
    display: flex;
    justify-content: center;
}

.image-left img{
    height: 70px;
    border-radius: 40px;
}

.icon-left{
    width: 130px;
    display: flex;
    justify-content: space-around;
}

i.fas.fa-times{
    display: none;
}

/* Notiche */
.notifiche-left{
    height: 80px;
    background-color:#80e5ff;
    display: flex;
    align-items:center;
}

.bell{
    width: 80px;
    display: flex;
    justify-content: center;
}

.bell i{
    font-size: 25px;
    border-radius: 50px;
    color:#80e5ff;
    background-color: white;
    padding: 15px;
}

/* Search chat */
.search-left{
    height: 40px;
    background-color:#ededed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-left input{
    height: 30px;
    width: 90%;
    border-radius: 5px;
}

/* Chat list */
.bottom-left{
    height: calc(700px - 200px);
    overflow-y: auto;
    background-color: white;
}

.bottom-left small{
    font-size: 10px;
    color:grey;
}

.chat{
    display: flex;
    align-items:center;
    border-style: hidden hidden solid hidden;
    border: 1px solid #ededed;
}

.background{
    background: #ededed;
}


.tchalla-image,
.superman-image,
.steve-image,
.peter-image,
.wonder-image,
.wolverine-image,
.punisher-image,
.thor-image,
.patriot-image,
.thanos-image{
    height: 80px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tchalla-image img,
.steve-image img,
.superman-image img,
.steve-image img,
.peter-image img,
.wonder-image img,
.wolverine-image img,
.punisher-image img,
.thor-image img,
.patriot-image img,
.thanos-image img{
    height: 70px;
    border-radius: 30px;
    background-color: #ededed;
}

.tchalla-chat,
.superman-chat,
.steve-chat,
.peter-chat,
.wonder-chat,
.wolverine-chat,
.punisher-chat,
.thor-chat,
.patriot-chat,
.thanos-chat{
    width: 170px;
}

.tchalla-hours,
.superman-hours,
.steve-hours,
.peter-hours,
.wonder-hours,
.wolverine-hours,
.punisher-hours,
.thor-hours,
.patriot-hours,
.thanos-hours{
    width: 90px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.superman-hours p{
    padding: 5px 10px;
    border-radius: 60px;
    background-color: #00e600;
}

.none{
    display: none;
}

/* Right container */
.right{
    width: calc(1200px - 350px);
    height: 100%;
    float: left;
}

/* Open Chat */
.top-right{
    height: 80px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-chat{
    display: flex;
    align-items: center;
}

.image-right{
    height: 80px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center
}

.image-right img{
    height: 70px;
    border-radius: 40px;
}

.strange-chat small{
    color:grey;
}

.icon-right{
    width: 130px;
    display: flex;
    justify-content: space-around;
}

img.tastiera{
    display: none;
    position: absolute;
    height: 100px;
    width: calc(1200px - 350px);
}

/* Chat */
.center-right{
    height: calc(700px - 160px);
    background-image: url('https://www.itl.cat/pngfile/big/7-74810_iron-ultra-hd-iron-man.jpg');
    opacity: 0.5;
    overflow-y: auto;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

/* Testo destra */
.messaggio{
    width: 20%;
    border-radius: 1px;
    background-color: white;
    font-size: 15px;
    /* float: right; */
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 20px;
    background-color: #b3ffb3;
    padding: 10px;
    align-self: flex-end;
}

/* Testo sinistra */
.messaggio2{
    width: 20%;
    border-radius: 1px;
    background-color: white;
    font-size: 15px;
    /* float: left; */
    border-radius: 10px;
    margin-left: 50px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.template,
.template2{
    display: none;
}

.orario,
.orario2,
i.fas.fa-check-double{
    display: flex;
    justify-content: flex-end;
}

.color-icon{
   color: #00ffff;
}

/* Scroll icon & animation */
i.fas.fa-angle-double-up{
    align-self: flex-end;
    margin-top: 20px;
    padding-right: 10px;
    font-size: 30px;
    color: white;
    position: fixed;
    animation-name: toop;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes toop {
    from{bottom: 560px;}
    to {bottom: 580px;}
}

i.fas.fa-angle-double-down{
    align-self: flex-end;
    margin-top: 500px;
    padding-right: 10px;
    font-size: 30px;
    color: white;
    position: fixed;
    animation-name: down;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes down {
    from{top: 60px;}
    to {top: 70px;}
}


/* Aggiungo la spunta dopo le ore; per ora ho messo right/left, ma poi posso levarli e mettere direttamente
solo hours così comparirà a fianco a tutti gli orari; poi aggiunggendo un jQuery si potrà cambiare il colore
da grigio a verde acido alla lettura del messaggio */
/* .right-hours:after,
.left-hours:after{
   font-family: "Font Awesome 5 Free";
   content: "\f560";
   font-weight: 900;
   color: grey;
   margin-left: 5px;
}

.read{
   color: #00ffff;
} */


/* "Scrivi un messaggio" */
.bottom-right{
    height: 80px;
    background-color:#990000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-right input{
    height: 50px;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
}

/* Attivo icona testo all'entrare nell'imput */
i.fas.fa-comment-dots{
    display: none;
}

i.fas.fa-comment-dots.active{
    display: block;
}

i.fa-microphone.active{
    display: block;
}

i.fa-microphone{
    display: none;
}

.bottom-right i,
.icon-right i,
.icon-left i{
    font-size: 25px;
    color: grey;
}

/* Media screen */
@media screen and (max-width: 768px){

    .web-app{
        height: 100%;
        width: 100%;
    }

    .left{
        width: 100%;
        height: 100vh;
        display: none;
    }

    .right{
        width: 100%;
        height: 100vh;
    }

    .view{
        display:  block;
    }

    i.fas.fa-angle-double-up{
        display: none;
    }

    /* Nascondo li icone quando entro nella schermata contatti */
    i.fas.fa-spinner,
    i.fas.fa-comment-alt{
        display: none;
    }

    .left i.fas.fa-bars{
        display: none;
    }

    /* Faccio si che compaia l'icona per chiudere la sxchermata dei contatti */
    i.fas.fa-times{
        display: block;
        cursor: pointer;
    }
